$bubble-idea-color: inherit;
$bubble-idea-bg: #eee;

$bubble-idea-others-color: inherit;
$bubble-idea-others-bg: #fafafa;

$bubble-chat-color: #111;
$bubble-chat-bg: #ddd;

$bubble-chat-me-color: #eee;
$bubble-chat-me-bg: #444;


.bubble {
  position: relative;
  $border-radius: 6px;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}

.bubble:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  top: 10px;
  left: -20px;
}

/*****************/

.bubble-idea {
  background-color: $bubble-idea-bg !important;
  border: 0 !important;
  color: $bubble-idea-color;
}

.bubble-idea:after {
  border-right-color: $bubble-idea-bg;
}

/*****************/

.bubble-idea-others {
  background-color: $bubble-idea-others-bg !important;
  color: $bubble-idea-others-color;
}

.bubble-idea-others:after {
  border-right-color: $bubble-idea-others-bg;
}

/*****************/

.bubble-chat {
  display: inline-block;
  min-width: 150px;
  margin: 0 0 5px 10px;
  padding: 4px 10px;
  background-color: $bubble-chat-bg;
  color: $bubble-chat-color;
  p {
    margin: 0;
  }
}

.bubble-chat:after {
  border-right-color: $bubble-chat-bg;
}

/*****************/

.bubble-chat-me {
  background-color: $bubble-chat-me-bg;
  color: $bubble-chat-me-color;
}

.bubble-chat-me:after {
  border-right-color: $bubble-chat-me-bg;
}