$primary-color: #428bca;
$warning-color: #f0ad4e;

@import "bubble";

.btn-link.btn-warning {
    color: darken($warning-color, 10%);
    &:hover {
        color: darken($warning-color, 20%);
    }
}

#logo {
    margin-top: 20px;
}

#chat {
    max-height: 250px;
    overflow-y: hidden;
}

// .btn-xl {
//     padding: 16px 24px;
//     font-size: 24px;
//     border-radius: 8px;
// }

#send-idea {
    margin-bottom: 10px;
}

// .disabled {
//     opacity: 0.15;
// }

.brwr-round-info {
    font-size: 1.5em;
    line-height: 34px;
}

.no-padding {
    padding: 0;
}

.brwr-progress-lg {
    margin: 5px 0;
    height: 24px;
    .progress-bar,
    .brwr-progress-indicator {
        line-height: 24px;
    }
}
.brwr-progress {
    position: relative;
}
.brwr-progress-indicator {
    font-weight: bold;
    font-size: 1.2em;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 2px #fff;
    width: 50px;
}


.brwr-form-control-small {
    padding: 3px 6px 3px 12px;
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
}

.warn {
    color: #f00 !important;
}

#timer-knob {
    margin:0 10px;
}

.clickable {
    cursor: pointer;
}

.link-input {
    max-width: 400px;
    display: inline-block;
}

.empty {
    font-style: italic;
    color: #aaa;
}

button:focus {
    outline: 0 !important;
}

button.stylish-clicked:active {
    position: relative;
    top: 3px;
}

.warn.warn-not-visible {
    visibility: hidden;
}

.primary-color {
    color: $primary-color;
}

.copy {
    padding: 6px 12px;
    background: #eee;
}

.clickable {
    cursor: pointer;
}

.well {
    background-color: #fff;
}

.placeholderish {
    font-style: italic;
}
::-webkit-input-placeholder {font-style: italic; }
:-moz-placeholder {font-style: italic; } /* older Firefox*/
::-moz-placeholder {font-style: italic; } /* Firefox 19+ */ 
:-ms-input-placeholder {font-style: italic; }

#next-round-main + .tooltip {
    opacity: 0.75;
}

/****************************/

.brwr-modal-container {
    position: relative;
}

.brwr-modal-backdrop {
    position: absolute;
    opacity: 0.9 !important;
    background-color: #fff !important;
    z-index: 1000;
}

.brwr-modal {
    position: absolute;
    z-index: 1000;
}

.brwr-modal-dialog {
    width: 550px;
}

.brwr-modal-header {
    padding-left: 35px;
    padding-right: 35px;
}

.brwr-modal-body {
    padding: 15px 35px;
}

/****************************/

.hoverable:hover .visible-on-hover {
    visibility: visible;
}
.visible-on-hover {
    visibility: hidden;
}

/****************************/

.list-group-item.active .badge {
    background-color: #fff;
    color: $primary-color;
}