#chat {
    max-height: 200px;
    overflow-y: hidden;
}

.brwr-form-control-small {
    padding: 3px 6px 3px 12px;
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
}

#timer-knob {
    margin:0 10px;
}

.box {
    text-align: center;
}
.box h2 {
    font-size: 2.5em;
}
.box p {
    font-size: 1.2em;
}

.box-icon {
    font-size: 10em;
    text-shadow: 1px 3px 10px #222;
}

.clickable {
    cursor: pointer;
}

.link-input {
    max-width: 400px;
    display: inline-block;
}

.empty {
    font-style: italic;
    color: #aaa;
}

button:focus {
    outline: 0 !important;
}

button.stylish-clicked:active {
    position: relative;
    top: 3px;
}