@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/typography/text/ellipsis";

@import "bubble";

$primary-color: #428bca;
$warning-color: #f69e20;
$warning-color-light: lighten(#f69e20, 10%);

$top-bar-height: 100px;
$progress-bar-height: 15px;
$box-height: 100px;
$idea-height: 100px;

html, body {
    height: 100%;
    min-height: 100%;
    min-height: 500px;
}

body {
    background-color: #fafafa;
    font-size: 16px;
}

p {
    font-size: 16px;
}

.modal-backdrop.in {
    @include opacity(.75);
}


.mark {
    background-color: $warning-color-light;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    padding: 5px 10px;
    display: inline-block;
    @include border-radius(5px);
    &::selection {
        background-color: darken($warning-color, 5%);
        color: #fff;
    }
    &::-moz-selection {
        background-color: darken($warning-color, 5%);
        color: #fff;
    }
}

.uc {
    text-transform: uppercase;
}

#top-bar {
    background: #fff;
    #logo {
        padding: 10px 0;
    }
    h2 {
        font-size: 28px;
        height: $top-bar-height;
        line-height: $top-bar-height;
        margin: 0 15px 0 95px;
        @include ellipsis();
    }
    .brwr-btn-big {
        font-size: 40px;
        font-weight: bold;
        height: $top-bar-height;
        text-transform: uppercase;
        @include border-radius(0);
    }
    .timer {
        background-color: #eee;
        font-size: 40px;
        font-weight: bold;
        height: $top-bar-height;
        line-height: $top-bar-height;
        &.timer-superuser {
            line-height: normal;
            .timer-seconds {
                height: 60px;
                line-height: 60px;
                padding-top: 10px;
                padding-bottom: 5px;
            }
            .timer-actions {
                height: 25px;
                font-size: 0;
            }
            button {
                margin-top:
            }
        }
        .popover {
            max-width: 200px;
            width: 200px;
            font-size: 16px;
            .popover-title {
                font-weight: bold;
            }
            .popover-content {
                font-weight: normal;
            }
        }
    }
}

#progress-bar {
    height: $progress-bar-height;
    $c: #cdde63;
    background-color: lighten($c, 25%);
    div {
        height: 100%;
        width: 100%;
        background-color: $c;
    }
    &.near {
        $c-near: #F7D929;
        background-color: lighten($c-near, 25%);
        div {
            background-color: $c-near;
        }
    }
    &.very-near {
        $c-vnear: #F75936;
        background-color: lighten($c-vnear, 35%);
        div {
            background-color: $c-vnear;
        }
    }
}

#main {
    position: absolute;
    top: $top-bar-height;
    right: 15px;
    bottom: 0;
    left: 15px;
    &.in-progress {
        top: $top-bar-height + $progress-bar-height;
    }
}

.no-padding {
    padding: 0;
}
.padded {
    padding: 20px 15px;
}

.box {
    height: $box-height;
    line-height: $box-height;
}
.box-bold {
    font-size: 24px;
    font-weight: bold;
}

.idea {
    // height: $idea-height !important;
    padding-bottom: 3px;
    text-align: center;
}
.idea-text {
    $lines: 3;
    $p-line-height: 1.25;
    $p-font-size: 16px;
    height: $lines * $p-line-height * $p-font-size;
    line-height: $lines * $p-line-height * $p-font-size;
    overflow: hidden;
    p {
        display: inline-block;
        font-size: $p-font-size;
        line-height: $p-line-height;
        margin: 0;
        vertical-align: middle;
    }
}
.idea-info {
    font-size: 14px;
    height: 20px;
    margin: 0;
    padding: 0 7px;
}
.all-ideas-padded {
    padding-left: 15px;
}

#idea-form {
    textarea {
        height: $idea-height;
    }
    p i {
        padding: 3px 5px;
    }
    &.focused p i {
        background-color: $warning-color;
        color: #fff;
    }
}

.side-thing {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px 20px 15px;
    background-color: #ddd;
    h2 {
        margin-top: 10px;
    }
}

.side-panel {
    bottom: 0;
}

.panel-closed {
    padding: 10px;
    text-align: center;
    width: 140px;
    &[data-panel="chat"] {
        right: 0px;
    }
    &[data-panel="people"] {
        right: 150px;
    }
    .count {
        font-size: 24px;
    }
    i {
        margin-top: 12px;
    }
    &.chat-unread {
        background-color: #FFCDD2;
        i, .count {
            color: red;
        }
    }
    &:hover {
        background-color: darken(#ddd, 5%);
    }
}

.only-panel-closed {
    right: 25.5% !important;
}

.superuser.in-progress .only-panel-closed {
    right: 34% !important;
}

.different {
    background-color: #eee;
}

#people-list {
    font-size: 20px;
}


#chat {
    max-height: 70%;
    overflow-y: scroll;
}

.step-wrap {
    padding-left: 30px;
}

.step {
    $size: 50px;
    $space: 15px;
    margin-top: 30px;
    .step-heading {
        line-height: $size;
        margin-left: $size + $space;
    }
    .step-heading-sub {
        margin-top: -10px;
    }
    .step-number {
        float: left;
        background-color: #ddd;
        color: #333;
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        height: $size;
        margin-right: $space;
        line-height: $size;
        text-align: center;
        width: $size;
        @include border-radius(50%);
    }
    .step-padded {
        margin-left: $size + $space;
    }
}



// body {
//     min-height: 600px;
// }

// #side-col {
//     position: absolute;
//     top: 0; right: 0;
// }

// .btn-link.btn-warning {
//     color: darken($warning-color, 10%);
//     &:hover {
//         color: darken($warning-color, 20%);
//     }
// }

// .btn-usual {
//     color: #333;
//     background-color: #f2f2f2;
//     border-color: #ccc;
// }

// #logo {
//     margin-bottom: 10px;
//     margin-top: 10px;
// }

// #chat {
//     max-height: 250px;
//     overflow-y: hidden;
// }

// // .btn-xl {
// //     padding: 16px 24px;
// //     font-size: 24px;
// //     border-radius: 8px;
// // }

// #send-idea {
//     margin-bottom: 10px;
// }

// // .disabled {
// //     opacity: 0.15;
// // }

// .brwr-round-info {
//     font-size: 1.5em;
//     line-height: 34px;
// }

// .no-padding {
//     padding: 0;
// }

// .brwr-progress-lg {
//     margin: 5px 0;
//     height: 24px;
//     .progress-bar,
//     .brwr-progress-indicator {
//         line-height: 24px;
//     }
// }
// .brwr-progress {
//     position: relative;
// }
// .brwr-progress-indicator {
//     color: #000;
//     font-weight: bold;
//     font-size: 1.5em;
//     left: 50%;
//     margin-left: -25px;
//     position: absolute;
//     text-align: center;
//     text-shadow:
//          1px  1px 0 #fff,
//         -1px  1px 0 #fff,
//          1px -1px 0 #fff,
//         -1px -1px 0 #fff;
//     width: 50px;
// }


// .brwr-form-control-small {
//     padding: 3px 6px 3px 12px;
//     text-align: center;
// }

// .form-group {
//     margin-bottom: 30px;
// }

// .warn {
//     color: #f00 !important;
// }

// #timer-knob {
//     margin:0 10px;
// }

.clickable {
    cursor: pointer;
}

// .link-input {
//     max-width: 400px;
//     display: inline-block;
// }

.empty {
    font-style: italic;
    color: #aaa;
}

// button:focus {
//     outline: 0 !important;
// }

// button.stylish-clicked:active {
//     position: relative;
//     top: 3px;
// }

// .warn.warn-not-visible {
//     visibility: hidden;
// }

// .primary-color {
//     color: $primary-color;
// }

// .copy {
//     padding: 6px 12px;
//     background: #eee;
// }

// .clickable {
//     cursor: pointer;
// }

.well {
    background-color: #fff;
}

.placeholderish {
    font-style: italic;
}
::-webkit-input-placeholder {font-style: italic; }
:-moz-placeholder {font-style: italic; } /* older Firefox*/
::-moz-placeholder {font-style: italic; } /* Firefox 19+ */ 
:-ms-input-placeholder {font-style: italic; }

// #next-round-main + .tooltip {
//     opacity: 0.75;
// }

// /****************************/

// .br-not-started-alert {
//     position: absolute;
//     top: 50px; left: 50%;
//     margin-left: -50px;
//     width: 100px;
//     z-index: 1001;
// }

// /****************************/

// .brwr-modal-container {
//     position: relative;
// }

// .brwr-modal-backdrop {
//     position: absolute;
//     opacity: 0.85 !important;
//     background-color: #fff !important;
//     z-index: 1000;
// }

// .brwr-modal {
//     position: absolute;
//     z-index: 1000;
// }

// .brwr-modal-dialog {
//     width: 550px;
// }

// .brwr-modal-header {
//     padding-left: 35px;
//     padding-right: 35px;
// }

// .brwr-modal-body {
//     padding: 15px 35px;
// }

/****************************/

.hoverable:hover .visible-on-hover {
    visibility: visible;
}
.visible-on-hover {
    visibility: hidden;
}

/****************************/

// .list-group-item.active .badge {
//     background-color: #fff;
//     color: $primary-color;
// }

// /****************************/

// .generic-username {
//     font-style: italic;
// }

// #people-list {
//     max-height: 400px;
//     overflow-y:auto;
// }

// @media (max-height: 700px) {
//     #people-list {
//         max-height: 190px;
//     }
//     #chat {
//         max-height: 240px;
//     }
// }

// @media (max-height: 650px) {
//     #people-list {
//         max-height: 140px;
//     }
//     #chat {
//         max-height: 220px;
//     }
// }

// @media (max-height: 600px) {
//     #people-list {
//         max-height: 90px;
//     }
//     #chat {
//         max-height: 200px;
//     }
// }

@keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.blink.blink-here, .blink .blink-here {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}