<template name="brainSession">

    {{> brainSession_modals linkForParticipants=linkForParticipants}}
        
    <div class="row">
        
        <div class="col-sm-3">
            <div class="well well-sm">
                {{#unless closed}}
                    <div class="text-center">
                        {{> brainSession_round_info}}
                        {{> brainSession_timer}}
                    </div>
                {{else}}
                    <h2>Finished</h2>
                {{/unless}}
                <hr/>
                {{> brainSession_participants}}
                <hr/>
                {{> brainSession_chat}}
            </div>
        </div>
        
        <div class="col-sm-9">
            <div class="well well-sm">
                {{> brainSession_info linkForParticipants=linkForParticipants}}
                <hr>
                {{#if closed}}
                    {{> brainSession_ideas}}
                {{else}}
                    {{#if round}}
                        <div class="row">
                            <div class="col-sm-4">
                                {{> brainSession_ideas_current_round}}
                            </div>
                            <div class="col-sm-8">
                                {{> brainSession_ideas}}
                            </div>
                        </div>
                    {{else}}
                        <h2>Session hasn't begun yet.</h2>
                    {{/if}}
                {{/if}}
            </div>
        </div>

    </div>
</template>

<template name="brainSession_round_info">
    <h2 class="text-center">
        {{#if closed}}
            Finished
        {{else}}
            {{#if round}}
                Round {{round}}
            {{else}}
                Not started
            {{/if}}
        {{/if}}
    </h2>
</template>

<template name="brainSession_info">
    {{#if isSuperuser}}
    
        <div class="session-setup-modal-open clickable">
            <h2 id="session-title" class="{{#unless title}}empty{{/unless}}">
                {{#if title}}
                    {{title}}
                {{else}}
                    No subject
                {{/if}}
            </h2>

            {{!--
            <p id="session-desc" class="{{#unless desc}}empty{{/unless}}">
                {{#if desc}}
                    {{{nlToBreak desc}}}
                {{else}}
                    No description
                {{/if}}
            </p>
            --}}
        </div>
        
        <p>
            Share this link to invite people: <input type="text" class="form-control link-input" value="{{linkForParticipants}}" onClick="this.select();"><br/>
            Your admin link: <input type="text" class="form-control link-input" value="{{linkForAdmins}}" onClick="this.select();">
        </p>
        
    {{else}}
    
        {{#if title}}
            <h2 class="{{#unless title}}empty{{/unless}}">{{title}}</h2>
        {{else}}
            no subject
        {{/if}}
        
        {{!--
        {{#if desc}}
            <p>{{{nlToBreak desc}}}</p>
        {{/if}}
        --}}
    
    {{/if}}

</template>

<template name="brainSession_timer">
    <h2 id="timer" class="clearfix text-center {{#if _lt timerSeconds 10}}warn{{/if}}">
        <div id="timer-knob" data-minutes="{{roundLength}}">
            <input type="text" value="0" class="dial">
        </div>
        <div>
            {{formatDuration timerSeconds}}
        </div>
    </h2>
    {{#unless closed}}
        {{#if isSuperuser}}
            {{#if round}}
                {{#if shortened}}
                    <button class="next-round-undo btn btn-primary">Undo</button>
                {{else}}
                    <button class="next-round btn btn-primary">Next round</button>
                    <button class="end-session btn btn-default">End session</button>
                {{/if}}
            {{else}}
                <button class="next-round btn btn-lg btn-primary">Start session</button>
            {{/if}}
        {{/if}}
    {{/unless}}
</template>

<template name="brainSession_participants">
    {{#if participants}}
        Participants ({{getLength participants}}):    
        <ul class="list-unstyled blink blink-fast">
        {{#each participants}}
            <li>
                {{#unless closed}}
                    <i class="fa fa-fw fa-check-circle primary-color" style="{{#unless activity.ready}}color:#ccc;{{/unless}}"></i>
                {{/unless}}
                
                <span class="{{#if _eq currentUser._id this._id}}user-setup-modal-open clickable{{/if}}">{{userName this}}</span>
                
                {{#if activity.write}}
                    <i class="fa fa-pencil faa-horizontal animated"></i>
                {{/if}}
            </li>
        {{/each}}
        </ul>
    {{/if}}
</template>

<template name="brainSession_chat">
    <h2>Chat</h2>
    {{#if messages}}
        <ul class="list-unstyled" id="chat">
        {{#each messages}}
            <li>
                <span class="label {{#if _neq author currentUser._id}}label-primary{{else}}label-default{{/if}}">{{userNameById author}}:</span>
                {{text}}
                <span class="text-muted" title="{{formatDate time 'YYYY/MM/DD HH:mm'}}">{{formatDate time 'HH:mm'}}</span>
            </li>
        {{else}}
            <li><em>be first to write a message!</em></li>
        {{/each}}
        </ul>
    {{/if}}
    <form id="chat-send-message">
        <input type="text" class="form-control" placeholder="your message">
    </form>
</template>

<template name="brainSession_ideas">
    
    {{#if ideas}}
        {{#if closed}}
            <h2>All ideas</h2>
        {{else}}
            {{#if _gt round 1}}
                <h2>Others' random ideas</h2>
                <p>Read other participants' ideas for inspiration. Feel free to expand on them.</p>
            {{/if}}
        {{/if}}

        <div class="clearfix">
        {{#each ideas}}
            {{#if text}}
                <div class="well well-sm idea-box">
                    <span class="text-muted">Round: {{round}}</span>
                    {{#if ../closed}}
                        | <span class="text-muted">Author: {{userName author}}</span>
                        | <span>{{#if _len likedBy}}{{_len likedBy}}{{/if}} <i class="fa fa-heart{{#unless _inArray likedBy currentUser._id}}-o{{/unless}} primary-color idea-box-like clickable" title="{{#if _inArray likedBy currentUser._id}}unlike{{else}}like{{/if}}"></i></span>
                    {{/if}}
                    <br/>
                    {{{nlToBreak text}}}
                </div>
            {{/if}}
        {{/each}}
        </div>
    {{else}}
        no ideas
    {{/if}}
    
</template>

<template name="brainSession_ideas_current_round">
    {{#if round}}
        <h2>Your ideas in round {{round}}</h2>
        <div data-round="{{round}}" data-sheet="{{sheet}}">
            {{#each ideasPerRound}}
                <textarea data-no="{{this}}" class="idea form-control" style="margin-bottom:10px;" placeholder="your idea #{{inc this}}"></textarea>
            {{/each}}
        </div>
        <button id="submit-ideas" class="btn btn-primary btn-lg btn-block stylish-clicked">
            {{#if isUserReady}}
                <i class="fa fa-check-circle"></i> Ideas sent
            {{else}}
                Send Ideas
            {{/if}}
        </button>
    {{/if}}
</template>
