<template name="brainSession">

    {{> brainSession_modals participants=participants linkForParticipants=linkForParticipants linkForAdmins=linkForAdmins title=title}}

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-8">
                <div class="well">
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="{{#if isSuperuser}}col-lg-8 col-md-10 col-sm-9 col-xs-12{{else}}col-sm-12{{/if}}">
                            {{> brainSession_info linkForParticipants=linkForParticipants title=title}}
                        </div>
                        {{#if isSuperuser}}
                            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-12 text-right">
                                {{> brainSession_action round=round}}
                            </div>
                        {{/if}}
                    </div>
                    <hr>
                    <div class="row brwr-modal-container" style="Xmin-height: 520px;">
                        {{#unless closed}}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h2 style="margin-top:0">Your ideas</h2>
                            {{> brainSession_progress}}
                            {{> brainSession_ideas_current_round}}
                        </div>
                        {{/unless}}
                        <div class="{{#if closed}}col-xs-12{{else}}col-xs-12 col-sm-12 col-md-6 col-lg-6{{/if}}">
                            {{> brainSession_ideas}}
                        </div>

                        {{#unless round}}
                            <div class="brwr-modal-backdrop modal-backdrop in"></div>
                        <!--
                            <div class="alert alert-warning br-not-started-alert">not started</div>
                            {{#if _inArray participantsWhoEntered currentUser._id}}
                                {{> brainSession_start_modal participants=participants linkForParticipants=linkForParticipants linkForAdmins=linkForAdmins}}
                            {{/if}}
                        -->
                        {{/unless}}
                    </div>
                </div>
            </div>

            <div class="col-sm-4" id="side-col">
                <div class="well">
                    {{> brainSession_logo}}
                    {{> brainSession_participants participants=participants}}
                    <hr>
                    {{> brainSession_chat}}
                </div>
            </div>

        </div>
    </div>

</template>

<template name="brainSession_logo">
    <div id="logo" class="text-center">
        <a href="/"><img src="/brainwrite.it.png" width="100"></a>
    </div>
</template>

<template name="brainSession_info">
    
    <h2 class="{{#if isSuperuser}}session-edit-modal-open clickable{{/if}} {{#unless title}}empty{{/unless}} hoverable" style="margin-top: 35px;">
        {{#if title}}
            {{title}}
        {{else}}
            No subject
        {{/if}}
        {{#if isSuperuser}}
            <small class="visible-on-hover"><i class="fa fa-pencil"></i></small>
        {{/if}}
    </h2>

</template>

<template name="brainSession_action">
    {{#if round}}
        {{#unless ../closed}}
            <button class="btn btn-usual btn-lg end-session" style="margin-top: 28px;">
                <i class="fa fa-power-off"></i>
                End
                <span class="hidden-xs hidden-sm hidden-md">Brainwriting</span>
            </button>
        {{/unless}}
    {{else}}
        <button
            class="btn btn-warning btn-lg next-round"
            style="margin-top: 28px;"
            id="start-brainwriting"
            data-toggle="tooltip"
            data-animation="true"
            data-html="true"
            data-placement="bottom"
            data-trigger="manual"
            data-title="Start Brainwriting when everybody is ready for action.">
            <i class="fa fa-play"></i>
            Start
            <span class="hidden-xs hidden-sm hidden-md">Brainwriting</span>
        </button>
    {{/if}}
</template>

<template name="brainSession_start_modal">

    <div class="brwr-modal modal" id="" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="display:block">
        <div class="modal-dialog brwr-modal-dialog">
            <div class="modal-content">
                <div class="modal-header brwr-modal-header">
                    <h2 class="modal-title">
                        {{#if isSuperuser}}
                            <span class="start-modal-1">Invite people</span>
                            <span class="start-modal-2 hidden">Ready to start?</span>
                        {{else}}
                            Almost ready to start
                        {{/if}}
                    </h2>
                </div>
                <div class="modal-body brwr-modal-body clearfix">

                    {{#if isSuperuser}}

                        <div class="start-modal-1">

                            {{> brainSession_start_modal_links}}
                            <!-- <hr> -->
                            <!-- {{> brainSession_start_modal_others_count}} -->
                            <br/>

                            <button class="btn btn-warning btn-lg go-to-start-modal-2 pull-right">
                                <i class="fa fa-check"></i>
                                OK, got it!
                            </button>

                        </div>

                        <div class="start-modal-2 hidden">

                            {{> brainSession_start_modal_others_count}}

                            <!-- <a id="show-links" class="clickable">
                                show an invite link
                            </a> -->
                            <br/>

                            <div id="links" style="display: none;">
                                {{> brainSession_start_modal_links}}
                            </div>

                            <button class="btn btn-default btn-lg go-to-start-modal-1 pull-left">
                                <i class="fa fa-caret-left"></i>
                                Back to invite link
                            </button>

                            <button class="btn btn-warning btn-lg next-round pull-right">
                                <i class="fa fa-play"></i>
                                Start
                                <span class="hidden-xs hidden-sm hidden-md">Brainwriting</span>
                            </button>

                        </div>

                    {{else}}

                        <h4><strong>Wait for other participants to join.</strong></h4>
                        <h4>In the meantime feel free to chat.</h4>

                    {{/if}}

                </div>
            </div>
        </div>
    </div>

</template>


<template name="brainSession_start_modal_links">
    <div class="form-group">
        <h4>
            <strong><i class="fa fa-link"></i> Share this link:<br/></strong>
        </h4>
        <input type="text" class="form-control input-lg js-select-text-on-focus" value="{{linkForParticipants}}">
        <a id="show-admin-link" class="clickable pull-right">
            <i class="fa fa-link"></i>
            show admin link
        </a>
    </div>
    <div class="admin-link form-group hidden">
        <h4>
            <strong><i class="fa fa-link"></i> Admin link:<br/></strong>
        </h4>
        <p>Send this link to grant someone admin rights.<br/><i>(admin can go to the next round and end brainwriting)</i></p>
        <input type="text" class="form-control input-lg js-select-text-on-focus" value="{{linkForAdmins}}">
    </div>
</template>

<template name="brainSession_start_modal_others_count">
    <h4>
        {{#if othersCount}}
            {{#if _gt othersCount '1'}}
                <strong>{{othersCount}} people</strong> have joined so far.
            {{else}}
                <strong>1 person</strong> has joined so far.
            {{/if}}
        {{else}}
            <strong>Nobody has joined so far.</strong> Share the link and wait.
        {{/if}}
    </h4>
    <h4 style="margin-top: 20px;">
        {{#if othersCount}}
            <ul class="list-unstyled">
                {{#each participants}}
                    {{#unless _eq currentUser._id this._id}}
                        <li>
                            <i class="fa fa-check"></i>
                            <span class="{{#unless hasProfileName this}}generic-username{{/unless}}">{{userName this}}</span>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        {{/if}}
    </h4>
    <h4 style="margin-top: 20px;">
        Start brainwriting when everybody is ready.
    </h4>
</template>

<template name="brainSession_round_info">
    <h2 class="text-center">
        {{#if round}}
            Round {{round}}
        {{else}}
            Not started
        {{/if}}
    </h2>
</template>

<template name="brainSession_participants">
     {{#if participants}}
        <h3>
            People
            <span style="font-size: 0.5em">({{getLength participants}})</span>
            {{#if isSuperuser}}
                <button class="btn btn-xs btn-usual session-links-modal-open">
                    <i class="fa fa-plus"></i> Invite
                </button>
            {{/if}}
        </h3>
        <ul class="list-group blink blink-fast" id="people-list">
        {{#each participants}}
            <li class="list-group-item {{#if activity.ready}}{{#unless ../closed}}active{{/unless}}{{/if}}">
                {{#unless ../closed}}
                    <i class="fa fa-fw fa-check-circle primary-color" style="{{#if activity.ready}}color:#fff;{{/if}}"></i>
                {{/unless}}
                
                <span class="{{#if _eq currentUser._id this._id}}name-edit-modal-open clickable{{/if}} hoverable">
                    <span class="{{#unless hasProfileName this}}generic-username{{/unless}}">{{userName this}}</span>
                    {{#if _eq currentUser._id this._id}}<small class="visible-on-hover"><i class="fa fa-pencil"></i></small>{{/if}}
                </span>

                {{#if activity.ready}}
                    {{#unless ../closed}}
                        <span class="badge">DONE</span>
                    {{/unless}}
                {{/if}}
                
                {{#if activity.write}}
                    {{#unless activity.ready}}
                        <i class="fa fa-bolt faa-shake animated" style="margin-left: 5px;"></i>
                    {{/unless}}
                {{/if}}
            </li>
        {{/each}}
        </ul>
    {{/if}}
</template>

<template name="brainSession_chat">
    <h3>Chat</h3>
    {{#if messages}}
        <ul class="list-unstyled" id="chat">
        {{#each messages}}
            <li>
                <div class="bubble bubble-chat {{#if _eq author currentUser._id}}bubble-chat-me{{/if}}">
                    <i><small title="{{formatDate time 'YYYY/MM/DD HH:mm'}}">
                        {{#if _eq author currentUser._id}}you{{else}}{{userNameById author}}{{/if}}
                        <small>({{formatDate time 'HH:mm'}})</small>
                    </small></i>
                    <p>{{text}}</p>
                </div>
            </li>
        {{else}}
            <li><em>be first to write a message!</em></li>
        {{/each}}
        </ul>
    {{/if}}
    <form id="chat-send-message">
        <div class="input-group" style="max-width: 300px;">
            <input type="text" class="form-control" placeholder="your message">
            <span class="input-group-btn">
                <button class="btn btn-usual" type="submit">Send</button>
            </span>
        </div>
    </form>
</template>

<template name="brainSession_ideas">
    
    {{#if closed}}
        <h2>
            All ideas
            <button class="btn btn-warning" onclick="alert('Sorry, this hasn\'t been implemented yet!\n\nWhat did you expect to happen?');">
                export to file
            </button>
        </h2>
        <p>
            sort by
            <div class="btn-group all-ideas-sorting">
                <button class="btn {{#if sessionEquals 'allIdeasSorting' 'round'}}btn-warning{{else}}btn-default{{/if}}" data-sort-by="round">round</button>
                <button class="btn {{#if sessionEquals 'allIdeasSorting' 'author'}}btn-warning{{else}}btn-default{{/if}}" data-sort-by="author">author</button>
                <button class="btn {{#if sessionEquals 'allIdeasSorting' 'likes'}}btn-warning{{else}}btn-default{{/if}}" data-sort-by="likes">likes</button>
            </div>
        </p>
    {{else}}
        <h2 style="margin-top: 0;">Random ideas <span class="hidden-xs hidden-sm hidden-md">for inspiration</span></h2>
    {{/if}}

    <div class="clearfix">
    {{#each ideas}}
        {{#if text}}
            <div class="{{#if ../closed}}col-xs-12 col-sm-12 col-md-6 col-lg-4{{/if}}">
                <div class="well well-sm bubble bubble-idea">
                    <small>
                        <span class="text-muted">round {{round}}</span>
                        {{#if ../closed}}
                            | <span class="text-muted">by {{userName author}}</span>
                            <span class="pull-right">{{#if _len likedBy}}{{_len likedBy}}{{/if}} <i class="fa fa-thumbs{{#unless _inArray likedBy currentUser._id}}-o{{/unless}}-up primary-color idea-box-like clickable" title="{{#if _inArray likedBy currentUser._id}}unlike{{else}}like{{/if}}"></i></span>
                        {{/if}}
                    </small>
                    <br/>
                    {{{nlToBreak text}}}
                </div>
            </div>
        {{/if}}
    {{else}}
        <div class="well text-muted">no ideas yet</div>
    {{/each}}
    </div>
    
</template>

<template name="brainSession_progress">
    <div class="clearfix" style="margin-bottom: 10px; margin-top: 20px;">
        <div class="no-padding col-xs-6 col-sm-7 col-md-7 col-lg-7">
            <div class="progress brwr-progress brwr-progress-lg">
                <div class="progress-bar progress-bar-striped {{#if round}}active{{/if}} {{#if _lt timer.percentage '50'}}progress-bar-warning{{/if}} {{#if _lt timer.percentage '16'}}progress-bar-danger{{/if}}" role="progressbar" aria-valuenow="{{timer.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{timer.percentage}}%; min-width: 2px;">
                </div>
                <div class="brwr-progress-indicator">
                    {{formatDuration timer.seconds}}
                </div>
            </div>
        </div>
        <div class="no-padding col-xs-6 col-sm-5 col-md-5 col-lg-5 text-right">
            <span class="brwr-round-info" style="padding-right: 8px;">
                {{#if round}}
                    Round {{round}}
                    {{#if _gte participants.length '2'}}
                        <small class="text-muted">/{{participants.length}}</small>
                    {{/if}}
                {{/if}}
            </span>
            {{#if isSuperuser}}
                {{#unless shortened}}
                    <button
                        id="next-round-main"
                        class="btn btn-warning {{#if round}}next-round{{else}}disabled{{/if}} pull-right"
                        data-toggle="tooltip"
                        data-animation="true"
                        data-html="true"
                        data-placement="right"
                        data-trigger="manual"
                        data-title="Everybody&nbsp;has&nbsp;finished.<br>Ready&nbsp;for&nbsp;the&nbsp;next&nbsp;round?">
                        <i class="fa fa-step-forward"></i>
                    </button>
                {{else}}
                    <button class="btn btn-usual next-round-undo pull-right">
                        <i class="fa fa-undo"></i>
                    </button>
                {{/unless}}
            {{/if}}
        </div>
    </div>
</template>

<template name="brainSession_ideas_current_round">

    {{#if _lt ideas.count '3'}}
    <div class="clearfix" style="margin-top: 20px">
        <form id="idea-form" data-round="{{round}}" data-sheet="{{sheet}}" data-no="{{#if ideas.count}}{{ideas.count}}{{else}}0{{/if}}">
            <textarea class="idea form-control" placeholder="type your idea here" style="margin-bottom: 10px;"></textarea>
            <button type="submit" class="btn btn-lg btn-warning pull-right">
                {{#if _lt ideas.count '2'}}
                    <i class="fa fa-caret-right"></i> Next Idea
                {{else}}
                    <i class="fa fa-check-circle"></i> I'm done
                {{/if}}
            </button>
        </form>
    </div>
    {{else}}
        
        {{#if isSuperuser}}
            {{#unless shortened}}
                <div class="alert alert-warning text-center">
                    if you're ready go to the next round
                </div>
                <!-- <button class="btn btn-xs btn-warning next-round"><i class="fa fa-step-forward"></i> next round</button> -->
            {{else}}
                <!-- made a mistake? <button class="btn btn-xs btn-warning next-round-undo"><i class="fa fa-undo"></i> undo</button> -->
            {{/unless}}
        {{else}}
            <div class="alert alert-warning text-center">
                wait for the next round
            </div>
        {{/if}}

    {{/if}}
    
    <div class="clearfix" style="margin-top: 20px;">
        {{#each ideas.list}}
            <div class="well well-sm bubble bubble-idea">
                {{#if text}}
                    {{text}}
                {{else}}
                    <span class="text-muted placeholderish">your idea</span>
                {{/if}}
            </div>
        {{/each}}
    </div>

</template>
