<template name="join">
    <div class="container">
        <div class="row">
            
	    {{#if isSuperuser}}
		<div class="col-lg-6 col-lg-offset-3">
                    <h1>Join us now!</h1>
		    <h3>...by giving us your name, copying participant link and creating a session.</h3>
		
                    <form>
		        <br/>
                        <label for="user-name" >Your name:</label>
                        <input id="user-name" name="user-name" value="John Doe" class="form-control"><br/>

			<label for="participant-link">Participant's link:</label>
		        <input id='copy-participant-link' type="text" class="form-control" value="/join/{{id}}/{{token}}">

			<br/>
                        <input type="submit" class="btn btn-default btn-primary btn-lg" value="create session">
                    </form>

		    <br/><br/>

		    <h1>or decide later!</h1>
		    <h3>...by copying moderator and participant links.</h3>

                    <br/>
			<label for="moderator-link">Moderator's link:</label>
		        <input id='moderator-link' type="text" class="form-control" value="/join/{{id}}/{{token}}">
			<br/>
			<label for="participant-link">Participant's link:</label>
		        <input id='participant-link' type="text" class="form-control" value="/join/{{id}}/0">
			<br/>
			<br/>
                </div>
            {{else}}
		<div class="col-lg-6 col-lg-offset-3">
                    <h1>Join us now!</h1>
		    <h3>...by giving us your name and joining the session.</h3>
		
                    <form>
		        <br/>
                        <label for="user-name" >Your name:</label>
                        <input id="user-name" name="user-name" value="John Doe" class="form-control"><br/>

                        <input type="submit" class="btn btn-default btn-primary btn-lg" value="join session">
			<br/>
			<br/>
                    </form>
                </div>	
            {{/if}}
        </div>
    </div>
</template>
