<template name="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Join us</h1>
                <form data-id="{{id}}">
                    <label for="email" >Your e-mail</label>
                    <input id="email" type="email" name="email" value="" class="form-control"><br/>

                    <input type="submit" class="btn btn-default btn-primary btn-lg" value="join us and go to session">
                </form>
            </div>
        </div>
    </div>
</template>