<template name="setup">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 well">
                <h1>New Brainwriting Session</h1>
                <hr/>
                <form role="form">
                    
                    <div class="form-group">
                    {{#if currentUser}}
                        Your e-mail: {{currentUserEmail}}
                    {{else}}
                        <label for="email">Your e-mail</label>
                        <input id="email" class="form-control" type="email" name="email" value="" required>
                    {{/if}}
                    </div>
                    
                    <div class="form-group">
                        <label for="title">Title</label>
                        <p>What's the problem you want to solve? What's your brainwriting about?</p>
                        <input type="text" class="form-control" id="title" placeholder="e.g. Company website improvements" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="desc">Description <span class="text-muted">(optional)</span></label>
                        <p>Provide details so participants fully understand the goal of brainwriting session.</p>
                        <textarea class="form-control" id="desc" rows="3" placeholder="Details, background, key data, goal of the brainwriting session..."></textarea>
                    </div>
                    
                    <div class="form-group form-inline">
                        <p>
                            One round should last
                            <input type="number" class="form-control brwr-form-control-small" id="roundLength" value="5" min="1" max="9" step="1">
                            minutes.
                        </p>
                    </div>
                    
                    <div class="form-group form-inline">
                        <p>
                            Let participants generate 
                            <input type="number" class="form-control brwr-form-control-small" id="ideasPerRound" name="ideasPerRound" value="3" min="1" max="5" step="1">
                            ideas per round.
                        </p>
                    </div>
                    
                    <input type="submit" class="btn btn-default btn-primary btn-lg" value="Create Brainwriting Session"/>
                </form>
            </div>
        </div>
    </div>
</template>